[Desktop Entry]
Name={{ name }}
Comment={{ description }}
Categories=Utility;
Type=Application
Exec={{ executable }}
{% if icon is defined %}Icon={{ icon }}{% endif %}
Terminal=false
NoDisplay=false
